<h3>Add a new game: </h3>
<form (ngSubmit)="send()" ngNativeValidate>

  <label>Title: </label>
  <input type="text" name="name" [(ngModel)]="game.name"/>

  <label>Category: </label>
  <select name="category" [(ngModel)]="game.category">
    <option selected disabled> Select a category... </option>
    <option *ngFor="let c of categories" [value]="c._id">{{c.name}}</option>
  </select>

  <label>Price: </label>
  <input type="number" name="price" [(ngModel)]="game.price"/>

  <label>Description: </label>
  <input type="text" name="description" [(ngModel)]="game.description">

  <button>Submit</button>

</form>
